.navbreadcrumb{
    width: 100%;
    height: 38px;
    background: #E9E9E9;
}


.navbreadcrumb nav ol li a{
    width: 97px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.navbreadcrumb nav ol li {
    line-height: 35px;
  
}
.login-section{
    width: 100%;
    min-height: 600px;
    margin: auto auto;
}
.dropdown-menu{
    border: none;
    padding: 0px;
}
.dropdown-menu li{
    width: 50px;
    padding: 0;
}

.login-section .login-back{
    position: absolute;
    width: 444px;
    height: 536px;
    left: 719px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .43s ease-in-out;
}
.login-back img{
    position: relative;
    left: 50%;
    width: 70px;
    height: 71px;
    /* text-align: center; */
    margin: 20px auto;
    transform: translate(-50%,10%);
    /* display: none */
}
.login-section .welcome-our{
    position: absolute;
    width: 444px;
    height: 536px;
    left: 275px;
    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .43s ease-in-out;
}

.login-section .welcome-our div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .43s ease-in-out;
}
.login-section .welcome-our div i{
    font-size: 32px;
    padding: 30px 0; 
}
.login-section .welcome-our h5{
    margin-top: 30px;
    transition: all .43s ease-in-out;
}
.login-back h2{
    text-align: center;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 18px;
}
.login-back div{
    margin-left: 32px;
}
.login-back div h5{
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.login-back div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #797979;

}

.login-back div form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    }
    .login-back div form div{
        margin-left: -1px;
        width: 65%;
    }
    .login-back div form #password{
        width: 100%;
    }
    .login-back div form .inputCostum{
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    }
    .login-back div form .fa-eye{
        position: absolute;
        right: 3%;
        top: 11px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
    }
.login-back div form label{
    width: 94px;
    height: 15px;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 10px;
    color: #202020;
}

.login-back div span{
    height: 20px;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.login-back div span a{
    width: 47px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    }
.login-back div form input{
    width: 65%;
    height: 40px;
    padding-left: 8px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.2);
}


.login-back div form .dropdown button{
    position: absolute;
    width: 56px;
    height: 40px;
    left: -31.9px;
    top: -59.9px;
    background: #FFFFFF !important;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;

}

.login-back div form .dropdown button:focus{
    box-shadow: none;

}
.login-back div form .dropdown button img{
margin: 0;
padding: 0;

}
.dropdown .dropdown-menu li a{
    width: 100%;
    height: 100%;
}
.login-back div form .dropdown-menu{
    position: absolute;
width: 48px;
height: 40px;
left: 0px;
top: 254px;

background: #FFFFFF;
border: 0.5px solid #000000;
box-sizing: border-box;
border-radius: 2px;

}
.login-back div form button{
    width: 266px;
    height: 40px;
    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    margin-top: 10px;
    outline: none;
    border: none;
}
.login-back div form span{
        text-align: right;
        width: 65%;
}

    .login-section{
        min-height: 600px;
        position: relative;
        margin-top: 50px;
    }

    .shap-login-1{
        position: absolute;
        width: 201px;
        height: 201px;
        right: 15%;
        top: 238px;
        z-index: -99999;
        animation: movelogin 1s ease-in-out infinite;
        border-radius: 50%;
        background: linear-gradient(180deg, #C4C4C4 37.92%, rgba(196, 196, 196, 0) 100%);
    }
    @keyframes movelogin {
        0%,100%{
            transform: scale(1.1);
        }
        50%{
            transform: scale(1);
        }
    }
    .shap-login-2{
    position: absolute;
    width: 311px;
    height: 311px;
    left: 1%;
    top: 600px;
    z-index: -11;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.726042) 99.99%, rgba(196, 196, 196, 0) 100%);
    transform: rotate(47.34deg);
    animation: movelogin 1s ease-in-out infinite;

    }

    .shap-login-2 img{
        position: absolute;
        width: 213px;
        height: 213px;
        left: 50.87px;
        top: 40.24px;
        border-radius: 50%;
        background: #FFFFFF;
        transform: rotate(47.34deg);
    }


    .shap-login-3 img{
        position: absolute;
        height: 170px;
        left: px;
        top: 389px;
    }





    .login-back div form span a{
        /* width: 100%; */
        height: 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        text-decoration-line: underline;
        color: rgba(32, 32, 32, 0.5);
    }


        /* @media (min-width: 951px) and (max-width: 1200px) {

        .login-section{
            width: 750px !important;
            position: relative;
            margin-top: 50px;
            margin-left: 0;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            min-height: 600px;
        }
        .login-section .login-back{
            padding: 5px;
            width: 350px;
            left: 50%;
        }
        .login-section .welcome-our{
            position: absolute;
            width: 400px;            
            left: 0px;
            background: #E6E6E6;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
                    
    } */